# You only need to set the first one, unless you want to deploy.
# testing: your local installation
# staging: a staging environment (for deployment only)
# production: a production environment (for deployment only)
SITE_IDS = {
	'testing': 'INSERT_SITE_ID_HERE',
	'staging': '4f08cbbe0975274ff50000d',
	'production': '4f08cbbe0975274ff500001d',}

ADMINS = (
	('Charles-Axel Dein', 'meet_sf@fabernovel.com'),
)

# Insert your 511 API token here
API_TOKEN = ''

# Domain names (you only need them if you want to deploy)
PRODUCTION_DOMAIN_NAME = ''
STAGING_DOMAIN_NAME = ''

# Secret key
SECRET_KEY = '^6&px%)1scz2%-8vxsgo1u#w1_l+v$9q=##bv+3i526r)4t9sa'
